{% extends "base.html" %}
{% load humanize %}

{% block extras %} 
<script src="/static/js/masonry.min.js"></script>
<style>
#items .item {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #F6F6F6 0%, #EAEAEA 100%) repeat scroll 0 0 transparent;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 1px rgba(0, 0, 0, 0.1), 0 3px 1px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 #DDDDDD;
    width: 270px;
    margin: 10px;
    float: left;
}
</style>
{% endblock %}
{% block content %} 

<!-- <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>


</div> -->

<div class="container" id="items">
  {% for category in categories %}
  <div class="item">
    <div class="thumbnail">
      <img src="{{category.image}}" data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3>{{ category.name }}</h3>
        <p class="lastReviews" data-id="{{category.id}}">
          
        </p>
        <p><a href="/categories/{{category.id}}" class="btn btn-primary" role="button">Más críticas</a></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>

// $.ajax({
//   type: 'GET',
//   url: '/categories',
//   data: {title: $('#title').val() , content: reviewContent.content.value, category: category},
//   success: function(data){
//       document.location = '/d/' + data;
//   },
//   error: function(xhr, textStatus, thrownError){
//       alert('Algo está mal, intenta de nuevo');
//   }

// });

$('.lastReviews').each(function(index){
  var self = $(this);
  $.ajax({
    type: 'GET',
    url: '/categories/'+ self.data('id'),
    data: {n: 5},
    success: function(data){
        $.each(data, function( key, value ) {
          console.log(key + ":" + value.fields.title);
          self.append('<h4><a href="/d/'+value.pk+'">'+value.fields.title+'</a></h4>');
        });
    },
    error: function(xhr, textStatus, thrownError){
        alert('Algo está mal, intenta de nuevo');
    }

  }); 
});
var $container = $('#items');
    $container.imagesLoaded(function(){
    $container.masonry({
      itemSelector : '.item',
      columnWidth : 290,
      isAnimated: true
    });
  });

</script>
{% endblock %}