{% extends "base.html" %} 
{% load humanize %}
{% block content %}
<div class="container">
    {% if reviews %}
    <div id="feed-publico" class="col-sm-8 col-md-6 feed">
        <h1>Críticas</h1>
        {% for review in reviews %}
        <div class="media post">
            <a class="pull-left" href="/p/{{review.critic}}">

                <img class="media-object img-rounded" src="{{ review.critic.image }}" width="50" height="50">
            </a>
            {% autoescape off %}
            <div class="media-body">
                <h4 class="media-heading">{{review.title}} <small><a href="/d/{{ review.id }}">{{ review.pub_date|naturaltime }}</a></small></h4>
                {{ review.content }}
            </div>
            {% endautoescape %}
        </div>

        {% endfor %}
    </div>
    {% endif %}

    {% if critics %}
    <div id="feed-publico" class="col-sm-8 col-md-6 feed">
        <h1>Personas</h1>
        {% for f_critic in critics %}
        <div class="media post">
            <a class="pull-left" href="/p/{{f_critic}}">
                <img class="media-object img-rounded" src="{{ f_critic.image }}" width="80" height="80">
            </a>
            <div class="media-body">
            	<h3><a href="/p/{{ f_critic.user }}">{{f_critic.display_name}}</a></h3>
            	<p>Lectores: {{ f_critic.readers.count }}</p>
                {% ifequal f_critic critic %}
                
                {% else %}

                <form action="/follow" method="POST">
                    <input type="hidden" value="{{ f_critic }}">
                    <button class="btn btn-primary">Leer</button>
                </form>
                
                {% endifequal %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if not critics and not reviews%}
        <div class="jumbotron">
            <div class="page-header">
                <h1>No se encontraron resultados.
                </h1>
            </div>
        </div>
        
    {% endif %}
</div>
{% endblock %}
